# Desired token to purchase
TOKEN_ADDRESS=""

# UniswapV2Factory contract address
FACTORY_ADDRESSV2="0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f"
FACTORY_ADDRESSV3="0x1F98431c8aD98523631AE4a59f267346ea31F984"


# RPC endpoint + wallet private key
RPC_ENDPOINT=""
PRIVATE_KEY=""

# Purchase details

# Input base token amount (i.e 0.01 = 0.01 ETH/Matic)
AMOUNT="0.01"
# Gas price for transaction (default = type 0)
GAS_PRICE="100"
# Slippage tolerance (i.e 0.5 = 50%, 0.01 = 1%)
SLIPPAGE="0.5"

# Turn this to true if you want to use mumbai, RPC must be mumbai url
IS_TESTNET="false"